.community {
    background: linear-gradient(180deg,
            rgba(23, 29, 43, 1) 0%,
            rgba(29, 38, 60, 1) 25%,
            rgba(34, 47, 76, 1) 50%,
            rgba(117, 56, 129, 1) 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
}


.section-header {
    color: #ffffff;
    text-align: center;
    font-family: "Cambria";
    font-size: 7vh;
    font-weight: 600;
    height: 8vh;
    width: max-content;
    max-width: 80%;
    margin: 5% auto 1%;
}

.community a {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 15vh;
    width: 100%;
    justify-content: center;
}

.section-link {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 3vw;
    font-weight: 400;
    text-decoration: underline;
    margin: auto 0;
}

.section-description {
    color: #ffffff;
    text-align: justify;
    font-family: "Inter-Regular", sans-serif;
    font-size: 4.5vh;
    font-weight: 400;
    left: 12.5vw;
    max-width: 75%;
    margin: 1% auto;
    height: 20vh;
}

.logoSmall {
    max-width: 7%;
    max-height: 10vh;
    height: auto;
    margin: auto 1%;
    object-fit: contain;
}
.everest-logo {
    max-height: 25vh;
    max-width: 50%;
    margin: auto;
}